  @keyframes rainbow {
      0% {
          background-position: 0% 50%;
      }

      100% {
          background-position: 200% 50%;
      }
  }

  .rainbow-text {
      font-weight: bold;
      text-transform: uppercase;
      background-image: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet, red);
      background-size: 200% 100%;
      /* Makes the gradient much longer */
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      display: inline-block;
      animation: rainbow 8s linear infinite;
  }

  .no-gradient {
      -webkit-background-clip: initial;
      -webkit-text-fill-color: initial;
  }